body {
    background-color: var(--main-background);
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
}

:root {
--main-color: #212121;
--secondary-color: #757575;
--contacts-footer-color: rgba(255, 255, 255, 0.6);
--accent-color: #2196F3;
--main-background: #FFFFFF;
--secondary-background: #2F303A;
}

.accent {
    color: var(--accent-color);
}
 .list {
    list-style: none;
}

.logo-accent {
    color: var(--accent-color);
}

.logo-dark {
    color: #000000;
}

.logo-white {
color: var(--main-background);
}

.site-nav a{
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contacts-header a{
    color: var(--secondary-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    color: var(--secondary-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.hero {
    background-color: var(--secondary-background);
}

.hero-title {
        color: var(--main-background);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.hide{
    display: none;
}

.text {
    color: var(--secondary-color);
}

.section-features {
    background-color: #F5F5F5;
}

.section-team {
    background-color: #F5F4FA;
}

.footer {
    background-color: var(--secondary-background);
}

.adress {
    color: var(--main-background);
}

.button.primary {
    background-color: var(--accent-color);
    border-radius: 4px;
    color: var(--main-background);
}

.button.secondary {
    background-color: #F5F4FA;
    border-radius: 4px;
    color: var(--main-color);
}

.features.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}